@media (max-width:480px){
	.flip-card {
		background-color: transparent;
		width: 17em;
		height: 17em;
		margin-top: 2em;
		/* position: relative;
		z-index: 0; */
	  }
	  
	  .flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  }
	  
	  .flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	  }
	  
	  .flip-card-front, .flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	  }
	  
	  .flip-card-front {
		/* background-image: url("media/heic0406a.jpg");
		color: black; */
	
	
		background: rgba( 255, 255, 255, 0 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 9.0px );
		-webkit-backdrop-filter: blur( 9.0px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	
		text-align: center;
	
	  }
	
	  .flip-card-front p{
		  font-weight: 1000;
		  font-size: 2em;
	  }
	
	  .flip-card-front span{
			font-weight: 200;
		}
	  
	  .flip-card-back {
		color: white;
		transform: rotateY(180deg);


		display: flex;
		flex-direction: row;
	
	
	
		background: rgba( 255, 255, 255, 0 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 9.0px );
		-webkit-backdrop-filter: blur( 9.0px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	
	
	  }
	
	  .flip-card-back p{
		  letter-spacing: 0.14em;
		  margin-top: 1.5em;
	  }
	
	  
}










@media (min-width:490px){
	.flip-card {
		background-color: transparent;
		width: 40em;
		height: 17em;
		margin: 2em;
	  }
	  
	  .flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  }
	  
	  .flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	  }
	  
	  .flip-card-front, .flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	  }
	  
	  .flip-card-front {
		/* background-image: url("media/heic0406a.jpg");
		color: black; */
	
	
		background: rgba( 255, 255, 255, 0 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 9.0px );
		-webkit-backdrop-filter: blur( 9.0px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	
		text-align: center;
	
	  }
	
	  .flip-card-front p{
		  font-weight: 800;
		  font-size: 2em;
		  margin: 0 auto;
		  padding-top:2em ;
	  }
	
	  .flip-card-front span{
			font-weight: 200;
		}
	  
	  .flip-card-back {
		color: white;
		transform: rotateY(180deg);
	
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	
		background: rgba( 255, 255, 255, 0 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 9.0px );
		-webkit-backdrop-filter: blur( 9.0px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	
	
	  }
	
	  .flip-card-back p{
		  letter-spacing: 0.14em;
		  margin-top: 1.5em;
	  }
	
	  .flip-card-back li{
		  font-size: 1.5em;
	  }


	  .flip-card-front.main p{
		font-size: 2em;
		font-weight: 900;
		color: brown;
	  }

	  .flip-card-front.main span{
		  font-size: 2em;
		  font-weight: 1000;
		  color: gray;
		  letter-spacing: .1em;
		  text-shadow: 3px 3px 20px #ff99cc,
		  -2px 1px 30px #ff99cc;
	  
	  }

	  .q{
        position: fixed;
        z-index: 15;
		left:37em;
    }
	.skills .flip-card-front p{
		padding-top: 2em;
		color: aqua;
		letter-spacing: 0.1em;
		text-shadow: 3px 3px 20px #ff99cc,
		-2px 1px 30px #ff99cc;
	
	}

	.skills .flip-card-front span{
		color: yellowgreen
	}
}